/* IMPOSTAZIONI GENERALI */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
body{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/sfondo.png);
    background-size: 600px;
    background-repeat: repeat-y;
    background-position: center;
}
/* HEADER */
header{
    text-align: center;
    padding: 50px;
    background-image: linear-gradient(160deg,#009bbf,#065268);
    box-shadow: 0px 6px 4px rgba(0,0,0,0.5);
    line-height: 1.5em;
}
#header-par {
    font-size: 1.4em;
    color: white;
}
#nav{
    list-style-type: none;
    font-size: 1.2em;
    font-weight: bold; 
}
#nav li a{
    color: white;
  }

/* MAIN */
main{
    background-color: white;
    box-shadow: 0px 6px 4px rgba(0,0,0,0.5);
    padding: 50px;
    margin-top: 40px;
    line-height: 1.5em;
    margin-bottom: 1.5em;
    /* line-height : 1.5em; */
}

/* ELEMENTI NEL MAIN - ARTICLE */
h1 {
    font-size: 2em;
    margin-bottom: 1.5em;

}
h2{
    font-size: 1.5em;
    margin-top: 1.5em;
    text-align: center;
    font-weight: bold;
}
p{
    margin-bottom: 1.5em;
}
.article-par{
    font-size: 1.1em;
    color: rgba(152,170,153,255);
}
.str{
color: fuchsia;
}
code{
    border-radius: 7px;
    border: 1px solid gray;
    background-color: rgba(245, 245, 245);
    padding: 1px;
}
iframe{
    width:400px;
    height: 200px;
    border-radius:50px;
}
ol{
    list-style-type: style;
    padding-left: 1.5em; 
    line-height: 2em;
}
ul{
    list-style-type: disc;
    padding-left: 1.5em; 
    line-height: 2em;
}
/* TABELLE */
table { 
    width: 100%;
    text-align: center;
    border: 1px solid white;
    border-bottom: 2px solid #4875d7;
    margin-bottom: 1.5em;
}
caption{
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: black;
    
}
th{
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 20px;
    background-color:#4875d7;
}
tr:nth-child(odd){
    background-color: lightgray;
}
td{
    width: 150px;
    padding: 5px;
}

/* FORM */
#form{
    margin-top: 40px;
    background-color: rgb(202, 202, 202);
    text-align: center;
    padding: 10px;
    font-size: 1.25em;
}
#email{
    border: 0px;
    padding: 5px;
    border-bottom: 1px dashed black;
}
#btn{
    border: 0px;
    padding: 5px;
    background-color: #4875d7;
    color: white;
    font-weight: bold;
}
/* ELEMENTI NELL' ASIDE */
.post-cor{
    background-color: rgb(187, 187, 187);
    border: 1px solid gray;
    margin-top: 30px;
    padding: 20px;
    font-size: 1.2em;
}
.date{
    text-align: right;
}
/* FOOTER */
footer{
    background-color: #065268;
    box-shadow: 0px 6px 4px rgba(0,0,0,0.5);
    margin-top: 30px;
    padding: 20px;
    font-size: 1.2em;
    color: white;
    text-align: center;
    line-height: 1.5em;
}
footer a {
    color: fuchsia;
}